variables:
    DOCKER_IMAGE: "$CI_REGISTRY_IMAGE:$CI_COMMIT_TAG"

stages:
    - build

"Build docker images":
  stage: build
  tags:
    - docker-socket
  only:
    - master
  script:
    - docker build -t $DOCKER_IMAGE .
    - docker push $DOCKER_IMAGE
